<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shopping List App</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
       <div id="shopping-list">
        <div class="header">
            <h1>{{header.toLocaleUpperCase()}}</h1>
            <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button>
            <button v-else class="btn btn-cancel" @click="changeState('default')" >Cancel</button>
        </div>
        
        <div v-if="state === 'edit'" class="add-item-form">
            <input type="text" v-model="newItem" placeholder="Add a new Item" @keyup.enter="saveItem">
           
            <button class="btn btn-primary" :disabled="newItem.length === 0" @click="saveItem">Save Item</button>
        </div>
        
        <ul>
            <li v-for="item in reversedItems" :class="{strikeout: item.purchased}" @click="togglePurchased(item)">{{item.label}}</li>
        </ul>
        <p v-if="items.length === 0">List is Empty!</p>
        <input type="text" v-model="header">
       </div>
       <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"></script>
      
        <script>
          var shoppingList =  new Vue({
                el:'#shopping-list',
                data:{
                    state:'default',
                    header:'Vue is easy',
                    newItem:'',
                    items:[
                        {
                            label:'10 party hats',
                            purchased: false,
                            highPriority:false
                        },
                        {
                            label:'20 Lunch Boxes',
                            purchased: true,
                            highPriority:false
                        },
                        {
                            label:'10 Pencils',
                            purchased: false,
                            highPriority:true
                        },
                        
                    ]
                },
                computed:{
                    reversedItems(){
                       return this.items.slice(0).reverse();
                    }
                },
                methods:{
                    saveItem: function(){
                        this.items.push({
                            label: this.newItem,
                            purchased: false
                        });
                        this.newItem = '';
                    },
                    changeState: function(newState){
                        this.state = newState;
                        this.newItem = '';
                    },
                    togglePurchased: function(item){
                        item.purchased = !item.purchased
                    }
                }
            });
        </script>
       
    </body>
</html>