<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shopping List App</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
       <div id="shopping-list">
        <h1>{{header.toLocaleUpperCase()}}</h1>
        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>
        <input type="text" v-model="header">
       </div>
       <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
      
        <script>
          var shoppingList =  new Vue({
                el:'#shopping-list',
                data:{
                    header:'Vue is easy',
                    items:[
                        '25 Bottlles',
                        '20 Lunch Boxex',
                        '10 Pencils'
                    ]
                }
            });
        </script>
       
    </body>
</html>